.landing-page{
    background-color: black;
    height: 100vh;
    background-image: url('/assets/images/mobile-background.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    .logo{
        width: 151px;
    }
    .sso-btn.disabled {
        pointer-events: none;
        opacity: 0.5; /* Optional: Makes it look visually disabled */
      }
    
    .submit-btn {
        padding: 12px 12px 12px 12px;
        border-radius: 15px;
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.4px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
        gap: 10px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid white;

    }

    .sso-btn {
        border: 1px solid #ffffff;
        padding: 16px 32px 16px 32px;
        border-radius: 15px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        gap: 10px;
        width: 50%;


        svg {
            width: 18px;
            height: 18px;
        }
    }

    .have-account-text {
        color: white;
        font-family: Inter;
        font-size: 10px;
        font-weight: 300;
        line-height: 22.4px;

        a {
            color: white;
            text-decoration: none;
            font-weight: 700;
        }
    }

}